@mixin displayStyle($display, $direction) {
  display: $display;
  flex-direction: $direction;
};

@mixin cardStyle($color) {
  background-color: $color;
  font-size: 1em;
  margin: .5em;
  text-align: center;
};
