$activity-color: #DFE166;
$hydration-color: #5BC8AC;
$main-font-color: #110c11;
$outer-border-style: 1px solid black;
$primary-font-style: sans-serif;
$section-background-color: #fff;
$sleep-color: #EC96A4;
$section-background-color: #fffff4;
