$primary-font-style: sans-serif;
$section-background-color: #fff;
$outer-border-style: 1px solid black;
$sleep-color: #EC96A4;
$activity-color: #DFE166;
$hydration-color: #5BC8AC;

//Media query variables

$break-small: 320px;
$break-medium: 768px;
$break-large: 1200px;