@import 'variables';
@import 'mixins';
@import 'media-queries';

* {
  margin: 0;
  color: $main-font-color;
}

body {
  font-family: 'Open Sans';
  margin: 0;
  background-color: #708090;
  height: auto;
}

h1 {
  text-align: center;
  color: #fffff4;
  height: 80px;
  padding-top: 10px;
}

main {
  @include displayStyle(flex, row);
  height: 1500px;
}

.main-sidebar-body {
  @include displayStyle(flex, row);
  width: 25%;
}

.body-sidebar-sidebarContainer {
  background-color: #708090;
  border-top: $outer-border-style;
  @include displayStyle(flex, column);
  align-items: center;
  text-align: center;
  overflow: scroll;
}

.sidebar-header-name {
  text-align: center;
}

.sidebar-header-userInfo {
  font-family: $primary-font-style;
  font-weight: bold;
  font-size: 1.2em;
  margin: .5em .5em .5em .5em;
  // width: inherit;
}

.sidebar-header-line {
  border: 1px solid black;
  margin: 1em 1em 0 1em;
  height: 0;
  width: 80%;
  padding-left: 1em;
}

.sidebar-header-userImage {
  border-radius: 50%;
  border-color: $main-font-color;
  border-style: solid;
  border-width: 1px;
  height: 200px;
  width: 200px;
  margin: 4px 2px 2px 2px;
  justify-content: center;
}

.sidebar-body-friendContainer {
  @include displayStyle(flex, column);
}

.sidebar-friendContainer-listItems {
  text-align: left;
}

.body-main-infoContainter {
  width: 100%;
  border: $outer-border-style;
  margin: 0 0 1em;
  @include displayStyle(flex, column);
  overflow: scroll;
}

.main-column-hydration,
.main-column-activity,
.main-column-sleep {
  @include displayStyle(flex, row);
  flex-grow: 1;
}

.infoContainer-cardContainer-card-horizontal,
.infoContainer-cardContainer-card-vertical {
  width: 100%;
  background-color: $section-background-color;
  border: $outer-border-style;
  @include displayStyle(flex, column);
  align-items: center;
  margin: 1%;
  justify-content: space-around;
  border-radius: 6px;
  overflow: scroll;
}

.horizontalCard-activity-container {
  @include displayStyle(flex, row);
  width: 100%;
}

.infoContainer-cardContainer-card-vertical {
  @include displayStyle(flex, row);
}

.card-today-hydration {
  @include cardStyle($hydration-color);
}

.card-today-sleep {
  @include cardStyle($sleep-color);
}

.card-today-activity {
  @include cardStyle($activity-color);
}

.card-today-hydration,
.card-today-sleep,
.card-today-activity {
  font-family: $primary-font-style;
  @include displayStyle(flex, column);
  justify-content: space-around;
  width: 80%;
  border-radius: 6px;
  padding: 6px;
}

.card-history-hydration {
  @include cardStyle($hydration-color);
}

.card-history-sleep {
  @include cardStyle($sleep-color);
}

.card-history-activity {
  @include cardStyle($activity-color);
  overflow: scroll;
}

.card-history-hydration,
.card-history-sleep,
.card-history-activity {
  font-family: $primary-font-style;
  @include displayStyle(flex, column);
  justify-content: flex-start;
  width: 50%;
  border-radius: 6px;
}

.number {
  font-size: 2em;
  font-weight: bolder;
  color: #4d4e4f;
  font-kerning: normal;
}

.historicalWeek,
.weekly-sleep-quality,
.thisWeek {
  text-align: center;
  font-size: 1em;
  font-weight: bolder;
  margin: .5em;
  color: $main-font-color;
}

.card-vertical-list {
  list-style-type: none;
  font-weight: lighter;
  font-style: italic;
  padding-top: 1em;
  padding-left: 0;
  margin: 1em;
  font-size: 1em;
  height: 15rem;
  overflow-y: scroll;
}

.historical-list-listItem {
  padding: .3em;
  font-weight: bold;
  font-family: $primary-font-style;
  text-align: center;
}

#streakListMinutes, #streakList {
  border: 1px solid black;
  border-radius: 6px;
}

@media only screen and (max-width: 1024px) {
  main {
    display: flex;
    flex-direction: column;
    height: 1500px;
  }

  .main-sidebar-body {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .body-main-infoContainter {
    overflow: unset;
  }

  .body-sidebar-sidebarContainer {
    width: 100%;
  }

  .main-column-hydration,
  .main-column-activity,
  .main-column-sleep {
    flex-direction: column;
  }
}