@import 'variables';
@import 'mixins';
@import 'media-queries';

* {
  color: $main-font-color;
}

body {
  background-color: #e4e7eb;
  font-family: 'Roboto', sans-serif;
  height: auto;
}

h1 {
  border: $outer-border-style;
  height: 80px;
  margin-bottom: 25px;
  margin-top:0;
  padding-top: 10px;
  text-align: center;
}

main {
  @include displayStyle(flex, row);
  height: 1500px;
  @include ipad-pro-size {
    display: flex;
    flex-direction: column;
    height: 1500px;
  }
}

.main-sidebar-body {
  @include displayStyle(flex, row);
  width: 25%;
  @include ipad-pro-size {
    border-top: 1px solid black;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}

.body-sidebar-sidebarContainer {
  background-color: #e4e7eb;
  border: $outer-border-style;
  @include displayStyle(flex, column);
  align-items: center;
  overflow: scroll;
  text-align: center;
  @include  ipad-pro-size {
    width: 100vw;
  }
  @include ipad-size {
    width:100vw;
  }
  @include iphone-size {
    width:100vw;
  }
}

.sidebar-header-name, .hydration-header, .activity-header, .sleep-header {
  margin-top: 0.4em;
  text-align: center;
}

.sidebar-header-userInfo {
  font-family: $primary-font-style;
  margin: .6em;
}

.sidebar-header-line {
  border: 1px solid black;
  height: 0;
  margin: 1em 1em 0 1em;
  padding-left: 1em;
  width: 80%;
}

.friends-running-img {
  border-radius: 50%;
  margin: 1rem;
  width: 197px;
}

.sidebar-body-friendContainer {
  @include displayStyle(flex, column);
}

.sidebar-friendContainer-listItems {
  text-align: left;
}

.body-main-infoContainer {
  margin: 0 0 1em;
  width: 100%;
  @include displayStyle(flex, column);
  overflow: scroll;
  @include ipad-pro-size {
    overflow: unset;
  }
}

.main-column-hydration,
.main-column-activity,
.main-column-sleep {
  @include displayStyle(flex, row);
  flex-grow: 1;
  @include iphone-size {
    flex-direction: column;
  }
}

.infoContainer-cardContainer-card-horizontal,
.infoContainer-cardContainer-card-vertical {
  background-color: $section-background-color;
  border: $outer-border-style;
  width: 100vw;
  @include displayStyle(flex, column);
  align-items: center;
  border-radius: 6px;
  justify-content: space-around;
  margin: 1%;
  overflow: scroll;
}

.horizontalCard-activity-container {
  @include displayStyle(flex, row);
  width: 100%;
}

.infoContainer-cardContainer-card-vertical {
  @include displayStyle(flex, row);
}

.card-today-hydration {
  @include cardStyle($hydration-color);
}

.card-today-sleep {
  @include cardStyle($sleep-color);
}

.card-today-activity {
  @include cardStyle($activity-color);
}

.card-today-hydration,
.card-today-sleep,
.card-today-activity {
  font-family: $primary-font-style;
  @include displayStyle(flex, column);
  justify-content: space-around;
  width: 80%;
  border-radius: 6px;
}

.card-history-hydration {
  @include cardStyle($hydration-color);
}

.card-history-sleep {
  @include cardStyle($sleep-color);
}

.card-history-activity {
  @include cardStyle($activity-color);
  overflow: scroll;
}

.card-history-hydration,
.card-history-sleep,
.card-history-activity {
  font-family: $primary-font-style;
  @include displayStyle(flex, column);
  justify-content: flex-start;
  width: 50%;
  border-radius: 6px;
}

.number {
  color: #4d4e4f;
  font-kerning: normal;
  font-size: 2em;
  font-weight: bolder;
}

.historicalWeek,
.weekly-sleep-quality,
.thisWeek {
  color: $main-font-color;
  font-size: 1em;
  font-weight: bolder;
  margin: .5em;
  text-align: center;
}

.card-vertical-list {
  font-size: 1em;
  font-style: italic;
  font-weight: lighter;
  list-style-type: none;
  margin: 1em;
  overflow-y: scroll;
  padding-left: 0;
}

.historical-list-listItem {
  font-family: $primary-font-style;
  font-weight: bold;
  padding: .3em;
  text-align: center;
}

#streakListMinutes, #streakList {
  border: 1px solid black;
  border-radius: 6px;
}

.runner-img {
  border-radius: 50%;
  margin: 1rem;
  width: 200px;
}

.button {
  display: flex;
  justify-content: space-around;
}

.sleep-data-button, .activity-data-button, .hydration-data-button {
    background-color: #9A9DAB;
    border: none;
    border-radius: 6px;
    color: black;
    font-size: 16px;
    margin: 15px;
    outline: none;
    padding: 10px 20px;
}

.hidden {
  display: none;
}

.data-form {
  align-items: center;
  display: flex;
  display: hidden;
  flex-direction: column;
  height: 100vh;
  margin-bottom: 20px;
}

.data-form h2 {
  margin-bottom: 30px;
  margin-top: 15px;
  text-align: center;
}

.data-form form {
  align-content: center;
  background-color: #9A9DAB;
  border: .5px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 40%;
    @include iphone-size {
    width: 75%;
  }
}

.data-form input {
  border-radius: 6px;
  display: block;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  outline: none;
  padding: 10px 20px;
}
.submit-info, .back-home {
  background-color: #4D4E4F;
  border: 1px solid black;
  border-radius: 6px;
  color: #FFFFFF;
  font-size: 16px;
  margin: 35px;
  outline: none;
  padding: 10px 20px;
}

label {
  padding-bottom: 0.3em;
  text-align: center;
}
